.arrows {
    border: 2px solid black; 
    max-width: 800px;
    margin: 0 auto;
    position: relative; 
    height: 100px; 
    overflow: hidden;
  }
  
  .arrowL,
  .arrowR {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  
  .arrowL {
    left: 10px; /* Margine interno per non essere troppo attaccato al bordo */
  }
  
  .arrowR {
    right: 10px; /* Margine interno per non essere troppo attaccato al bordo */
  }