/* HOME PAGE */
.arrows {
    border: 2px solid black; 
    max-width: 800px;
    margin: 0 auto;
    position: relative; 
    height: 100px; 
    overflow: hidden;
  }
  
  .arrowL,
  .arrowR {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .arrowL {
    left: 10px; 
    background-image: url('assets/arrowL.png');
    background-size: contain;
  }
  
  .arrowR {
    right: 10px; 
    background-image: url('assets/arrowR.png');
    background-size: contain;
  }

  .menu{
    margin-top: 100px;
    margin-bottom: 140px;
    gap:80px;
  }
.menu div{
    border: 2px black solid;
    width:300px;
    height: 100px;
}

.menu div:nth-child(1),
.menu div:nth-child(3) {
  transform: translateY(70px); 
  width: 200px;
  height: 60px;
}