
<body class="container-fluid p-4">
<header>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Demonstration Exercises in RxJs</h1>
        <p>Pick up one of those creation operators and explore how they work by creating simple examples with different operators available in RxJS.</p>
    </div>
</header>

<main>
    <section class="menu d-flex flex-row justify-content-center align-items-center">
<div></div>
<div></div>
<div></div>
    </section>
<section class="arrows d-flex flex-row justify-content-center">
    <button type="button" class="arrowL"></button>
    <button type="button" class="arrowR"></button>
</section>
</main>
</body>